
.App-header {
  background-image: url('./website_background.jpg');
  background-size: cover;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}
.about-headers {
  background-color: #323241;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
.links {
  background-color: #23232d;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.links a{
  background-color: #23232d;
  text-decoration: none;
  display: flex;
  align-items: middle; 
  padding: 10px; 
  display: block; 
}
.experience-headers {
  background-color: #23232d;
  min-height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.volunteer-experience {
  background-color: #323241;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
.projects {
  background-color: #23232d;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

